html{
    height: 100%;
}
body {
    background-color: #c5c4c4;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.main-title {
    color: #385555;
}

.list-wrapper{
    background-color: white;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
}

.list-item{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 16px;
}
.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item__imagem img{
    width: 80px;
    border-radius: 50%; 
}
.list-item__content {
    padding: 0 20px;
    flex-grow: 1;
}
.list-item__name{
    font-size: 24px;
    color: #385555;
    margin: 0;
}
.list-item__email{
    color: #aaa;
    margin: 5px 0 0;
}

.list-item:hover {
    background-color: #e8e8e8;
}

.list-item__action{
    display: flex;
    gap: 8px;
}